@use '../mixins/mixins' as *;
@use "sass:map";



.qi-button {
  --qi-button-font-weight: var(--qi-font-weight-primary);
  --qi-button-border-color: var(--qi-border-color);
  --qi-button-bg-color: var(--qi-fill-color-blank);
  --qi-button-text-color: var(--qi-text-color-regular);
  --qi-button-disabled-text-color: var(--qi-disabled-text-color);
  --qi-button-disabled-bg-color: var(--qi-fill-color-blank);
  --qi-button-disabled-border-color: var(--qi-border-color-light);
  --qi-button-hover-text-color: var(--qi-color-primary);
  --qi-button-hover-bg-color: var(--qi-color-primary-light-8);
  --qi-button-hover-border-color: var(--qi-color-primary-light-7);
  --qi-button-active-text-color: var(--qi-button-hover-text-color);
  --qi-button-active-border-color: var(--qi-color-primary);
  --qi-button-active-bg-color: var(--qi-button-hover-bg-color);
  --qi-button-outline-color: var(--qi-color-primary-light-5);
  --qi-button-active-color: var(--qi-text-color-primary);
}



@include b('button') {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--qi-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: var(--qi-button-font-weight);
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: var(--qi-button-bg-color);
  border: var(--qi-border);
  border-color: var(--qi-button-border-color);
  padding: 8px 15px;
  font-size: var(--qi-font-size-base);
  border-radius: var(--qi-border-radius-base);

  & + & {
    margin-left: 12px;
  }

  &:hover{
    color: var(--qi-button-hover-text-color);
    border-color: var(--qi-button-hover-border-color);
    background-color: var(--qi-button-hover-bg-color);
    outline: none;
  }
  &:active {
    color: var(--qi-button-active-text-color);
    border-color: var(--qi-button-active-border-color);
    background-color: var(--qi-button-active-bg-color);
    outline: none;
  }
  /*plain*/
  &.is-plain {
    --qi-button-hover-text-color: var(--qi-color-primary);
    --qi-button-hover-bg-color: var(--qi-fill-color-blank);
    --qi-button-hover-border-color: var(--qi-color-primary);
  }
  /*round*/
  &.is-round {
    border-radius: var(--qi-border-radius-round);
  }
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }
  /*disabled*/
  &.is-loading,
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:focus,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    color: var(--qi-button-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
    background-color: var(--qi-button-disabled-bg-color);
    border-color: var(--qi-button-disabled-border-color);
  }

  [class*='qi-icon'] {
    width: 1em;
    height: 1em;
  }
}

$types: (
  primary,
  success,
  warning,
  info,
  danger,
  error,
  default,
  regular
);


@each $val in $types {
  .qi-button--#{$val}-type {
    --qi-button-text-color: var(--qi-color-white);
    --qi-button-bg-color: var(--qi-color-#{$val});
    --qi-button-border-color: var(--qi-color-#{$val});
    --qi-button-outline-color: var(--qi-color-#{$val}-light-5);
    --qi-button-active-color: var(--qi-color-#{$val}-dark-2);
    --qi-button-hover-text-color: var(--qi-color-white);
    --qi-button-hover-bg-color: var(--qi-color-#{$val}-light-3);
    --qi-button-hover-border-color: var(--qi-color-#{$val}-light-3);
    --qi-button-active-bg-color: var(--qi-color-#{$val}-dark-2);
    --qi-button-active-border-color: var(--qi-color-#{$val}-dark-2);
    --qi-button-disabled-text-color: var(--qi-color-white);
    --qi-button-disabled-bg-color: var(--qi-color-#{$val}-light-5);
    --qi-button-disabled-border-color: var(--qi-color-#{$val}-light-5);
  }
  .qi-button--#{$val}-type.is-plain {
    --qi-button-text-color: var(--qi-color-#{$val});
    --qi-button-bg-color: var(--qi-color-#{$val}-light-9);
    --qi-button-border-color: var(--qi-color-#{$val}-light-5);
    --qi-button-hover-text-color: var(--qi-color-white);
    --qi-button-hover-bg-color: var(--qi-color-#{$val});
    --qi-button-hover-border-color: var(--qi-color-#{$val});
    --qi-button-active-text-color: var(--qi-color-white);

    --qi-button-disabled-text-color: var(--qi-color-#{$val}-light-5);
    --qi-button-disabled-bg-color: var(--qi-color-#{$val}-light-9);
    --qi-button-disabled-border-color: var(--qi-color-#{$val}-light-8);
  }
}



.qi-button--large-size {
  --qi-button-size: 40px;
  height: var(--qi-button-size);
  padding: 12px 19px;
  font-size: var(--qi-font-size-base);
  border-radius: var(--qi-border-radius-base);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}

.qi-button--small-size {
  --qi-button-size: 24px;
  height: var(--qi-button-size);
  padding: 5px 11px;
  font-size: 12px;
  border-radius: calc(var(--qi-border-radius-base) - 1px);
  /*circle*/
  &.is-circle {
    border-radius: 50%;
    padding: 5px;
  }
  [class*='qi-icon'] {
    width: 12px;
    height: 12px;
  }
}




