@use 'mixins/mixins' as *;
//@keyframes loading-rotate {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}


@include b(icon){
  --qi-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--qi-icon-color);
  font-size: inherit;
}

$types: (
  primary,
  success,
  warning,
  info,
  danger,
  error,
  default,
  regular
);

@each $val in $types {
  .qi-icon--#{$val} {
  --qi-icon-color: var(--qi-color-#{$val});
}
}
