@use 'mixins/mixins' as *;
@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@include b(icon) {
  display: inline-flex;
  height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  fill: #667EAD;
  svg.loading {
    animation: loading-rotate 0.5s linear infinite;
  }
}
