@use "mixins/mixins" as *;



@include b(virtual) {
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background: #DDDEE0;
    border-radius: 5px;
  }

  @include e('scroll-list') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

  }
}
