/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #667ead;
  --vp-c-brand-light: #778fbf;
  --vp-c-brand-lighter: #98add9;
  --vp-c-brand-lightest: #b2c4eb;
  --vp-c-brand-dark: #556ea1;
  --vp-c-brand-darker: #456096;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --vp-c-block-tip-bg: transparent;
  --vp-c-block-tip-border: #DDDFE6;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
  --vp-custom-block-tip-bg: var(--vp-c-block-tip-bg);
  --vp-custom-block-tip-border: var(--vp-c-block-tip-border);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #fac294 30%, #686afb);

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #fac294 50%, #686afb 50%);
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

